---

---




	<main class="flex justify-center">
	<div class=" gap-5 flex flex-row">
		<a href="/get/">get</a>
		<a href="/post/">post</a>
		<a href="/put/">put</a>
		<a href="/patch/">patch</a>
		<a href="/delete/">delete</a>
	</div>
	</main>


